@use 'variables';

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes showResults {
    from {
        opacity: 0.5;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}
