// Variabler
$header-footer-background: #7F8CAA;
$header-footer-color: #EAEFEF;
$main-background: lightgrey;
$main-color: #333446;
$hover-color: #B8CFCE;
$font-family: Georgia, 'Times New Roman', Times, serif;
$font-size: 1.3em;
$font-height: 1.3em;
